.card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 0.5rem; /* Adjust padding as needed */
}

.canvas {
  width: 20px; /* Adjust width as needed */
  height: 20px; /* Adjust height as needed */
}
