.divider {
  width: 15vw;
}

.sidenav {
  width: 15vw;
  @apply bg-white-100 z-40 fixed top-0 min-h-screen;
}

.links_container {
  @apply text-white-500 flex items-center gap-9 font-bold;
}

.container {
  @apply flex;
}

.children {
  width: 85vw;
  @apply p-5;
}

.header {
  height: 10vh;
}

.link_container {
  @apply p-4 flex gap-3 transition-all hover:bg-black-900 hover:text-white-100;
}
